/*----------------------------------------------------------------------------
		Basic elements
----------------------------------------------------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

::selection {
    color: #ffff;
    background: rgb(142, 73, 232);
}

body {
    width: 100%;
    height: 100vh;
    padding: 10px;
    background: linear-gradient(to bottom, #43c6ac, #f8ffae);
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/*----------------------------------------------------------------------------
		General, wrapper, container, misc.
----------------------------------------------------------------------------- */
#title {
    padding: 10px;
}

.wrapper {
    background: #fff;
    max-width: 55em;
    width: 100%;
    margin: 40px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
}

.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

/*----------------------------------------------------------------------------
		Student Form
----------------------------------------------------------------------------- */
.student-form-title {
    padding: 5px;
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
    width: 100%;
    float: left;
}

.form-style-div {
    max-width: 50em;
    padding: 5px 5px 10px 20px;
    margin: 0 auto;
}

form {
    margin-left: 8em;
}

.form-style-div label {
    font-size: 18px;
    display: block;
    margin: 0px 0px 15px 0px;
}

.form-style-div label > span {
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}

input[type="checkbox"] {
    transform: scale(2);
}

.input-field-checkbox {
    margin-top: 10px;
    margin-left: 13.5em;
}

.form-style-div input.input-field {
    width: 48%;
}

.form-style-div input.input-field,
.form-style-div .textarea-field {
    box-sizing: border-box;
    border: 1px solid #c2c2c2;
    box-shadow: 1px 1px 4px #ebebeb;
    border-radius: 3px;
    padding: 7px;
    outline: none;
}

.form-style-div .input-field:focus,
.form-style-div .textarea-field:focus {
    border: 1px solid #0c0;
}

.form-style-div .textarea-field {
    height: 100px;
    width: 55%;
}

.form-style-div input[type="submit"],
.form-style-div input[type="button"] {
    margin-top: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    margin-left: 8em;
    background: #8e49e8;
    cursor: pointer;
    user-select: none;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.form-style-div input[type="submit"]:hover,
.form-style-div input[type="button"]:hover {
    background: #4caf50;
    color: #fff;
}

/*----------------------------------------------------------------------------
		Student List
----------------------------------------------------------------------------- */
ul {
    display: table;
    margin: 0 auto;
    width: 60%;
}

.student-li {
    border: 1px solid lightgray;
    padding: 10px 20px 10px 20px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.student-name {
    flex-basis: 40%;
}

.removeBtn {
    color: rgb(139, 5, 5);
    font-weight: bold;
    border: 2px solid black;
    padding: 3px 5px 2px 5px;
    margin-left: 20px;
    border-radius: 3px;
}

.student-checkbox {
    flex-basis: 30%;
    margin-top: 7px;
}

/*----------------------------------------------------------------------------
		Student View
----------------------------------------------------------------------------- */
.deleteBtn,
.cancelBtn {
    margin-top: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    background: #ff0000;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.deleteBtn:hover,
.deleteBtn:hover {
    background: #ff8c00;
    color: #fff;
}

.cancelBtn {
    background: #008cba;
    margin-left: 1em !important;
}

.edit-input {
    margin-left: 3em !important;
}
